APP_NAME="SmartFinance"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_TIMEZONE=UTC
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
APP_PREVIOUS_KEYS=

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_DEPRECATIONS_TRACE=false
LOG_LEVEL=debug
LOG_DAILY_DAYS=14
LOG_SLACK_WEBHOOK_URL=
LOG_SLACK_USERNAME="Laravel Log"
LOG_SLACK_EMOJI=":boom:"
LOG_PAPERTRAIL_HANDLER=
PAPERTRAIL_URL=
PAPERTRAIL_PORT=
LOG_STDERR_FORMATTER=
LOG_SYSLOG_FACILITY=LOG_USER

DB_CONNECTION=sqlite
DB_URL=
DB_DATABASE=/home/julius-mwakajeba/mikopo/mfs/database/database.sqlite
DB_FOREIGN_KEYS=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_SOCKET=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
MYSQL_ATTR_SSL_CA=

CACHE_STORE=database
DB_CACHE_CONNECTION=
DB_CACHE_TABLE=cache
DB_CACHE_LOCK_CONNECTION=
DB_CACHE_LOCK_TABLE=
CACHE_PREFIX=

QUEUE_CONNECTION=database
DB_QUEUE_CONNECTION=
DB_QUEUE_TABLE=jobs
DB_QUEUE=default
DB_QUEUE_RETRY_AFTER=90
QUEUE_FAILED_DRIVER=database-uuids

BEANSTALKD_QUEUE_HOST=localhost
BEANSTALKD_QUEUE=default
BEANSTALKD_QUEUE_RETRY_AFTER=90

SQS_PREFIX=https://sqs.us-east-1.amazonaws.com/your-account-id
SQS_QUEUE=default
SQS_SUFFIX=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_EXPIRE_ON_CLOSE=false
SESSION_ENCRYPT=false
SESSION_CONNECTION=
SESSION_TABLE=sessions
SESSION_STORE=
SESSION_COOKIE=
SESSION_PATH=/
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SESSION_PARTITIONED_COOKIE=false

AUTH_GUARD=web
AUTH_PASSWORD_BROKER=users
AUTH_MODEL="App\\Models\\User"
AUTH_PASSWORD_RESET_TOKEN_TABLE=password_reset_tokens
AUTH_PASSWORD_TIMEOUT=10800

REDIS_CLIENT=phpredis
REDIS_CLUSTER=redis
REDIS_PREFIX=
REDIS_PERSISTENT=false
REDIS_URL=
REDIS_HOST=127.0.0.1
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_CACHE_CONNECTION=cache
REDIS_CACHE_LOCK_CONNECTION=default
REDIS_QUEUE_CONNECTION=default
REDIS_QUEUE=default
REDIS_QUEUE_RETRY_AFTER=90

FILESYSTEM_DISK=local
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=false

MAIL_MAILER=log
MAIL_SCHEME=
MAIL_URL=
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_EHLO_DOMAIN=
MAIL_SENDMAIL_PATH="/usr/sbin/sendmail -bs -i"
MAIL_LOG_CHANNEL=
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

POSTMARK_TOKEN=
RESEND_KEY=
SLACK_BOT_USER_OAUTH_TOKEN=
SLACK_BOT_USER_DEFAULT_CHANNEL=

SMS_PROVIDER=kilakona
SMS_SENDERID=
SMS_TOKEN=
SMS_KEY=
SMS_URL=https://apisms.beem.africa/v1/send
SMS_API_KEY=
SMS_API_SECRET=
SMS_CALLBACK_URL=

BEEM_SENDER_ID=
BEEM_SECRET_KEY=
BEEM_API_KEY=
BEEM_SMS_URL=

KILAKONA_API_KEY=
KILAKONA_API_SECRET=
KILAKONA_CALLBACK_URL=

SMS_EVENT_OTP_VERIFICATION=true
SMS_EVENT_LOAN_DISBURSEMENT=true
SMS_EVENT_LOAN_REPAYMENT=true
SMS_EVENT_LOAN_ARREARS_REMINDER=true
SMS_EVENT_CUSTOMER_NOTIFICATIONS=true
SMS_EVENT_GROUP_NOTIFICATIONS=true
SMS_EVENT_CASH_COLLATERAL=true
SMS_EVENT_MATURE_INTEREST=true
SMS_EVENT_LOAN_PENALTY=true

SMS_TEMPLATE_OTP_VERIFICATION=
SMS_TEMPLATE_LOAN_DISBURSEMENT=
SMS_TEMPLATE_LOAN_REPAYMENT=
SMS_TEMPLATE_LOAN_ARREARS_REMINDER=
SMS_TEMPLATE_CUSTOMER_NOTIFICATIONS=
SMS_TEMPLATE_GROUP_NOTIFICATIONS=
SMS_TEMPLATE_CASH_COLLATERAL=
SMS_TEMPLATE_MATURE_INTEREST=
SMS_TEMPLATE_LOAN_PENALTY=

UPLOAD_MAX_FILE_SIZE=51200
UPLOAD_MAX_FILES=10
UPLOAD_STORAGE_DISK=public
UPLOAD_STORAGE_PATH=loan_documents

DATATABLES_ERROR=
